#Installing gspread

In [3]:
!pip install gspread

Collecting gspread
  Downloading gspread-5.7.2-py3-none-any.whl (40 kB)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\hp\anaconda3\lib\site-packages (from gspread) (2.11.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\hp\anaconda3\lib\site-packages (from gspread) (0.4.6)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\hp\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: six>=1.9.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\hp\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\hp\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.26.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.7)
Installing collected packages: gspread
Successfully installed gspread-5.7.2

import pandas library

In [5]:
import pandas as pd
import gspread

Sheet open by URL

In [21]:
gs=gspread.service_account(filename="E:\\Data Science Course_DataSet\\datascience-378710-c3912c907c34.json")

In [22]:
gs

Importing SpreadSheet url

In [23]:
sheet=gs.open_by_url("https://docs.google.com/spreadsheets/d/1sn51cf4-6-hj2DBhVrDCeLBJSa_AA5Dt31ukYhiG7oA/edit?usp=sharing")

In [24]:
sheet

Get spreadSheet in WorkSheet

In [17]:
ws=sheet.worksheet("Screen Time Data")

In [18]:
ws

Coverting in DataFrame

In [19]:
df=pd.DataFrame(ws.get_all_records())

In [20]:
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0